<!DOCTYPE html>
<html>
  <head>
    <title>Student Association</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

  </head>
  <body>
  

    <!-- Main content -->
    <div class="main-content container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flash">
        {% for m in messages %}
        <li>{{ m }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>
  </body>
</html>
